body {
    height: 100vh;
    /* background-image: url('/static/images/incheckbg.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* text-shadow: 1px 1px rebeccapurple; */
}